<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="profile-picture">
            <img src="../images/IMG_4675.JPG" alt="Profile Picture">
          </div>
          <h2 class="name">Kenil Avaiya</h2>
          <h3 class="username">@kenil_avaiya</h3>
          <p class="tagline">Stubborn,Loyal,tenacious</p>
          <p class="description">UI/Ux and web developer</p>
          <a href="#" class="button">View More</a>
        </div>
    </div>
</body>
</html>